.add-button {
  color: white;
  background-color: #119da4;
  border-radius: 5px;
  border: none;

  &:hover {
    background-color: #80ded9;
    border: 1px solid black;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.add-character-component {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  & > * {
    padding: 10px;
  }
}

.background-color-first {
  border-radius: 5px;
  background-color: #3066be;
  border: none;
  color: white;
  &::placeholder {
    color: white;
  }
  &:hover {
    border: 1px solid black;
    transform: scale(1.1);
    cursor: pointer;
  }
}
