<div class="grid-container">
  <div class="full-width">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Pipes Personalizados </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Pipes personalizados - creados por
        {{ "noSotRos" | toggleCase : isUpperCase }}
      </p>
    </mat-expansion-panel>
  </div>
</div>

<mat-toolbar>
  <div class="mat-toolbar-div">
    <div class="example-button-container" (click)="toggleToUpperCase()">
      <a mat-fab extended routerLink=".">
        <mat-icon>create_new_folder</mat-icon>
        ToggleCase
      </a>
    </div>
  </div>

  <span class="example-spacer"></span>
  <div class="mat-toolbar-div">
    <div class="example-button-container" (click)="changeSortBy('name')">
      <a mat-fab extended routerLink=".">
        <mat-icon>upload</mat-icon>
        Por nombre
      </a>
    </div>
    <div class="example-button-container" (click)="changeSortBy('canFly')">
      <a mat-fab extended routerLink=".">
        <mat-icon>save</mat-icon>
        Por volar
      </a>
    </div>
    <div class="example-button-container" (click)="changeSortBy('color')">
      <a mat-fab extended routerLink=".">
        <mat-icon>upload</mat-icon>
        Por color
      </a>
    </div>
  </div>
</mat-toolbar>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title> Heroes </mat-panel-title>
  </mat-expansion-panel-header>
  <table
    mat-table
    [dataSource]="heroes | sortBy : isSortBy"
    class="mat-elevation-z8 demo-table"
  >
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Vuela">
      <th mat-header-cell *matHeaderCellDef>Vuela</th>
      <td mat-cell *matCellDef="let element">
        {{ element.canFly | canFly }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let element">{{ element.color }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-expansion-panel>
