<button mat-button>
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<button mat-button>
  <mat-icon>featured_video</mat-icon>
  <span>Features</span>
</button>

<button mat-button [matMenuTriggerFor]="projects">
  <mat-icon>assessment</mat-icon>
  <span>Projects</span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<mat-menu #projects>
  <button mat-menu-item>
    <mat-icon>settings_input_component</mat-icon>
    <span>Components</span>
  </button>
  <button mat-menu-item>
    <mat-icon>block</mat-icon>
    <span>Blocks</span>
  </button>
  <button mat-menu-item>
    <mat-icon>flag</mat-icon>
    <span>UI Kit</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="templates">
    <mat-icon>ballot</mat-icon>
    <span>Templates</span>
  </button>
</mat-menu>

<button mat-button>
  <mat-icon>contact_support</mat-icon>
  <span>Contact</span>
</button>

<mat-menu #templates>
  <button mat-menu-item>
    <mat-icon>done</mat-icon>
    <span>Apollo</span>
  </button>
  <button mat-menu-item>
    <mat-icon>done_outline</mat-icon>
    <span>Ultima</span>
  </button>
</mat-menu>
