<div style="background-color: rgba(245, 245, 245, 0.199)">
  <button mat-button [matMenuTriggerFor]="pipesDeAngular">
    <mat-icon>assessment</mat-icon>
    <span>Pipes de Angular</span>
    <svg
      viewBox="0 0 17 10"
      focusable="false"
      aria-hidden="true"
      class="mat-mdc-menu-submenu-icon"
      style="transform: rotate(90deg)"
    >
      <polygon points="0,0 5,5 0,10"></polygon>
    </svg>
  </button>
  <button mat-button [matMenuTriggerFor]="pipesPersonalizados">
    <mat-icon>assessment</mat-icon>
    <span>Pipes Personalizados</span>
    <svg
      viewBox="0 0 17 10"
      focusable="false"
      aria-hidden="true"
      class="mat-mdc-menu-submenu-icon"
      style="transform: rotate(90deg)"
    >
      <polygon points="0,0 5,5 0,10"></polygon>
    </svg>
  </button>
  <mat-menu #pipesDeAngular>
    <button mat-menu-item [routerLink]="[]">
      <mat-icon>settings_input_component</mat-icon>
      <span>Textos y Fechas</span>
    </button>
    <button mat-menu-item [routerLink]="['numbers']">
      <mat-icon>block</mat-icon>
      <span>Números</span>
    </button>
    <button mat-menu-item [routerLink]="['uncommon']">
      <mat-icon>flag</mat-icon>
      <span>No comunes</span>
    </button>
  </mat-menu>

  <mat-menu #pipesPersonalizados>
    <button mat-menu-item [routerLink]="['custom']">
      <mat-icon>settings_input_component</mat-icon>
      <span>Custom Pipes</span>
    </button>
  </mat-menu>
</div>
