.add-button {
  color: white;
  background-color: #3b0086;
  border-radius: 5px;
  border: none;

  &:hover {
    background-color: #6200b3;
  }
}

.add-character-component {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  & > * {
    padding: 10px;
  }
}
