<div class="card-list">
  <div class="card-list-row">
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
    <div class="card-list-row-info">
      <p>Hola mundo</p>
    </div>
  </div>
</div>
