body {
  background-color: #161215;
  padding: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.full-width {
  grid-column: span 4;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

mat-expansion-panel {
  background-color: rgba(245, 245, 245, 0.199) !important;
}