.card-list-row-info {
  border-radius: 5px;
  width: 100%;
  background-color: darkslategrey;
  height: 250px;
}

.card-list-row-info p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px;
  height: 20%;
}

.card-list-row-info img{
  display: block;
  border-radius: 5% 5% 0px 0px;
  width: 100%;
  height: 80%;
}