.card-list-row-info {
  border-radius: 5px;
  width: 100%;
  background-color: darkslategrey;
  height: 250px;
}

.card-list-row-info p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px;
  height: 20%;
}

shared-lazy-image {
  display: block;
  width: 100%;
  height: 80%;
}